.main_container {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}

.goback {
  margin-top: 30px;
  margin-bottom: 60px;
  width: 90%;
}

.question_container {
  width: 60%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.202);
  font-size: 25px;
  padding-bottom: 10px;
}
.body {
  margin-top: 40px;
  width: 60%;
}
.user {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
    width: 30px;
    width: 30px;
    border: 1px solid rgba(128, 128, 128, 0.181);
    border-radius: 50%;
  }
}

.input_container {
  margin-top: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  textarea {
    padding: 5px;
    width: 90%;
    margin-right: 10%;
    resize: none;
    height: 300px;
    border-radius: 10px;
  }
  button {
    margin-top: 20px;
    width: 140px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
  }
}

.answers_container {
  width: 60%;
}

.answer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(128, 128, 128, 0.202);
}

.user_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
