.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_answer {
  width: 70%;
  border-radius: 10px;
  height: 60vh;
  background-color: white;
}

.getresult {
  width: 90%;
  margin-left: 5%;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.button_result {
  button {
    width: 300px;
    background-color: blue;
    color: white;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 30%;
    margin-bottom: 20px;
  }
}
