.container {
  width: 20vw;
  border-right: 1px solid rgba(128, 128, 128, 0.203);
  min-height: 100vh;
  background: linear-gradient(45deg, #f0f8ff23, #c5dde829);
}

.profile_container {
  width: 80%;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.navcontainer {
  margin-top: 8vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container_nav {
  margin-bottom: 30px;
  cursor: pointer;
  width: 50%;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  img {
    width: 20px;
    height: 20px;
  }
  &:hover {
    .text {
      color: rgb(47, 47, 47);
    }
  }
}

.loginIn {
  cursor: pointer;
  font-size: 18px;
  color: rgb(172, 40, 172);
  &:hover {
    color: rgb(231, 55, 231);
  }
}

.text {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.exit_container {
  margin-top: 25vh;
  width: 90%;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  div {
    cursor: pointer;
    display: flex;
    align-items: center;
    img {
      width: 20px;
      margin-right: 10px;
      height: 20px;
    }
    &:hover {
      p {
        color: rgb(47, 47, 47);
      }
    }
  }
}
