.first_block {
  width: 100%;
  margin: 0;
  height: 40px;
  background-color: darkblue;
}

.second_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid gray;
  color: rgb(0, 0, 0);
  // background-color: rgb(0, 0, 125);
}

.navigation {
  display: flex;
  width: 70%;
  justify-content: space-around;
  p {
    cursor: pointer;
    &::after {
      display: block; /*превращаем его в блочный элемент*/
      content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
      height: 2px; /*задаём высоту линии*/
      width: 0%; /*задаём начальную ширину элемента (линии)*/
      background-color: #786bfd; /*цвет фона элемента*/
      transition: width 0.4s ease-in-out;
    }
    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }
}

.userBlock {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: flex-end;
  p {
    cursor: pointer;
    margin-right: 20px;
  }
}

.go_out {
  font-size: 15px;
}
