.main_container {
  width: 80vw;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.container {
  width: 70%;
}

.text {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.165);
  align-items: center;
  padding-left: 10px;
  button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 187, 255);
    border: none;
    color: white;
    font-size: 15px;
  }
}

.text_container {
  width: 80%;
}

.question_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.question {
  cursor: pointer;
  width: 100%;
  border-left: 1px solid rgba(128, 128, 128, 0.165);
  border-bottom: 1px solid rgba(128, 128, 128, 0.165);
}
.question_main_container {
  width: 100%;
  display: flex;
}

.numberofanswers {
  width: 20%;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }
}
