.main_container {
  width: 100vw;
  justify-content: center;
  padding-top: 20px;
  display: flex;
  background-color: rgba(249, 249, 249, 0.749);
  flex-direction: column;
}

.link {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.message_container {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 60px;
  width: 150px;
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(128, 128, 128, 0.393);
  background-color: white;
}

.answer_question {
  margin-left: 5%;
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  font-size: 27px;
  font-weight: 500;
}

.question {
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.332);
  margin-top: 40px;
  margin-left: 5%;
  width: 60%;
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  input {
    width: 95%;
    height: 25px;
  }
}

.body {
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.332);
  margin-top: 40px;
  margin-left: 5%;
  width: 60%;
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  textarea {
    width: 95%;
    resize: none;
    height: 150px;
  }
}

.error_text {
  color: red;
  font-size: 15px;
}

.question_label {
  margin-top: 10px;
  input {
    width: 90%;
    margin-top: 7px;
  }
}

.body_label {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  textarea {
    margin-top: 7px;
    resize: none;
    width: 90%;
    height: 300px;
  }
}

.code_label {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  textarea {
    margin-top: 7px;
    resize: none;
    width: 90%;
    height: 250px;
  }
}

.submit {
  border-radius: 20px;
  color: white;
  font-size: 17px;
  width: 50%;
  background-color: blueviolet;
  height: 40px;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

.select {
  width: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
}
